.clock-display {
    font-size: 80px;
    padding: 60px;
    text-align: center;
}
.clock-setting {
    width: 41%;
}
.timer-title {
    text-align: center;
}
.instructions {
    text-align: center;
}
.pause {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
